.header-bgcolor{
    background-color: red;
    /* width: 100vw; */
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.header-container{
    width: 1200px;
    background-color: red;
    /* padding: 0 20px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: white;
    position: relative;
}

/* header logo */
.header-container .header-logo{
    display: flex;
    align-items: center;
    padding: 5px 8px 5px 0px;
    margin-right: 260px;
    border-radius: 10px;
}

.header-container .header-logo img{
    width: 170px;
    height: 40px;
}

.header-container .header-listBox,
.header-container .header-locationPrice,
.header-container .header-search,
.header-container .header-phone,
.header-container .header-locationStore,
.header-container .header-truckDelivery,
.header-container .header-shoppingBag {
    display: flex;
    align-items: center;
    /* padding: 5px 8px; */
    margin-right: 10px; 
    border-radius: 10px;
}

.header-container .header-listBox h2,
.header-container .header-locationPrice h2,
.header-container .header-locationStore h2,
.header-container .header-truckDelivery h2,
.header-container .header-shoppingBag h2,
.header-container .header-userLogin a h2{
    font-size: 12px;
}

.header-container .header-listBox svg,
/* dùng dấu > để chỉ cho thẻ svg con. không lấy hết thẻ svg trong class price */
.header-container .header-locationPrice >svg,
.header-container .header-phone svg,
.header-container .header-locationStore svg,
.header-container .header-truckDelivery svg,
.header-container .header-shoppingBag svg,
.header-container .header-userLogin a svg{
    font-size: 25px;
    margin-right: 5px;
}

.header-container .header-listBox,
.header-container .header-locationPrice,
.header-container .header-userLogin{
    background-color: #c94855;
    padding: 5px 8px;
    border-radius: 10px;
}

.header-container .header-listBox{
    width: 100px;
    height: 42px;
    position: absolute;
    left: 200px;
}

.header-container .header-search{
    background-color: white;
    padding-left: 10px;
    border-radius: 10px;
}

.header-container .header-search svg{
    color: black;
    font-size: 15px;
}

.header-container .header-search input{
    border: none;
    outline: none;
    padding: 8px 32px 8px 6px;
    border-radius: 10px;
}

.header-container .header-locationPrice{
    width: 130px;
    height: 42px;
    position: absolute;
    left: 315px;
}

.header-container .header-locationPrice div div{
    display: flex;
}

.header-container .header-locationPrice div div p,
.header-container .header-phone div p:nth-child(1){
    margin-bottom: 3px;
}

.header-container .header-shoppingBag{
    position: relative;
}

.header-container .header-shoppingBag span{
    position: absolute;
    top: 10px;
    left: 9px;
}

.header-container .header-userLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-container .header-listBox:hover,
.header-container .header-locationPrice:hover,
.header-container .header-userLogin:hover{
    cursor: pointer;
}

.header-container .header-phone:hover,
.header-container .header-locationStore:hover,
.header-container .header-truckDelivery:hover,
.header-container .header-shoppingBag:hover{
    cursor: pointer;
    background-color: #c94855;
    /* padding: 5px 8px; */
}

.header-container .header-userLogin a{
    text-decoration: none;
}

.header-container .header-userLogin a svg{
    color: white;
}

.header-container .header-userLogin a h2{
    color: white;
    font-size: 12px;
}



/* TẠO RESPONSIVE */
@media screen and (max-width: 1100px) {
    .header-container .header-phone div p{
        text-overflow: ellipsis;
        overflow: hidden;
        text-wrap: nowrap;
        width: 45px;
    }    
    
    .header-container .header-locationStore h2{
        text-overflow: ellipsis;
        text-wrap: nowrap;
        width: 40px;
        overflow: hidden;
    }

    .header-container .header-truckDelivery h2{
        text-overflow: ellipsis;
        text-wrap: nowrap;
        width: 30px;
        overflow: hidden;
    }
}

@media screen and (max-width: 1024px) {
    .header-container{
        padding: 0px 10px;
    }

    .header-container .header-logo{
        margin-right: 250px;
    }

    .header-container .header-listBox{
        left: 195px;
    }

    .header-container .header-locationPrice{
        left: 305px;
    }

    .header-container .header-search input{
        width: 10vw;
    }

    .header-container .header-truckDelivery{
        display: none;
    }
    
}

/* Còn responsive cho 820 và 770 */
@media screen and (max-width: 820px){
    .header-container .header-logo{
        margin-right: 130px;
    }
    
    .header-container .header-logo img{
        height: 30px;
        width: 30px;
    }

    .header-container .header-listBox{
        display: none;
    }

    .header-container .header-locationPrice{
        left: 60px;
    }

    .header-container .header-search input{
        width: 20vw;
    }
}

@media screen and (max-width: 770px){
    .header-container{
        height: 60px;
        display: flex;
        justify-content: space-between;
    }

    /* Dùng order để đảo vị trí các thẻ */
    .header-container .header-logo{
        position: relative;
        margin: 0 5px;
        order: 1;
        padding: 0;
    }

    .header-container .header-locationPrice{
        position: relative;
        margin: 0;
        padding: 0;
        left: 0;
        order: 3;
        width: auto;
    }

    .header-container .header-locationPrice svg{
        margin: 0;
    }


    .header-container .header-locationPrice div p,
    .header-container .header-locationPrice div h2{
        font-size: 10px;
        padding: 0;
        margin: 0;
    }

    .header-container .header-search{
        order: 2;
        margin: 0;
        padding: 0;
    }

    .header-container .header-search input{
        padding: 8;
        margin: 0;
    }


    .header-container .header-shoppingBag{
        order: 4;
        display: flex;
        flex-direction: column;
        width: 48px;
        height: 45px;
        padding: 5px 0px;
        margin: 0;
        background-color: #c94855;
    }

    .header-container .header-shoppingBag svg{
        margin: 0;
    }

    .header-container .header-shoppingBag h2{
        font-size: 10px;
        font-weight: 400;
        text-align: center;
    }

    .header-container .header-phone,
    .header-container .header-locationStore,
    .header-container .header-userLogin{
        display: none;
    }
}